.Products {
  margin-top: 2em;
  display: flex;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
}

@media only screen and (max-width: 1210px) {
  .Products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 910px) {
  .Products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 610px) {
  .Products {
    grid-template-columns: repeat(1, 1fr);
  }
}
